<!DOCTYPE html>
<html>
<body>

 <form action="." method="POST">
     <p>
Enter Taxable Assessed Home Value: $    </p>

    <input type="number" name="money">

    <br>
    <p>
    <br>
Enter Route:
    <br>
  <input type="radio" name="route" value="1"> UT to Greenbelt<br>
  <input type="radio" name="route" value="2"> Riverside Meadows to Thinkery<br>
  <input type="radio" name="route" value="3"> Western Trail Apts. to Capitol<br>

  <br><br>
  <input type="submit" name="frm" value="Send">

 </form>

</body>
</html>


